.login-root {
    alignment="CENTER";
    prefHeight="720.0";
    prefWidth="1280.0";
    spacing="20.0";
}

.login-form {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(165, 60, 220, 0.4), 10, 0, 0, 4);
}

.login-btn {
    -fx-background-color: linear-gradient(to right, #009fff, #ec2f4b);
    -fx-text-fill: white;           /* font color */
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(three-pass-box, rgba(165, 60, 220, 0.4), 10, 0, 0, 4);
    -fx-cursor: hand;
    -fx-padding: 10 20;
}

.login-label {
    -fx-text-fill: linear-gradient(to right, #009fff, #ec2f4b);
    -fx-effect: dropshadow(three-pass-box, rgba(165, 60, 220, 0.4), 10, 0, 0, 4);
}

.login-text-field {
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, #f0f2f5, 10, 0, 0, 4);
}